
.bottom_up {
    background-image: linear-gradient(to top, #ffffff 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: top;
    transition: background-position 0.5s ease-in-out; /** I've changed the time for demo purposes **/
    color: #ffffff;
}

.bottom_up:hover {
    background-position: bottom;
}


.logo-fill path{
    fill: #ffffff;
    fill-opacity:0;
    animation:DASH3 4s ease-in-out 1s forwards;
}

@keyframes DASH3{
    0%  {stroke-dashoffset:2500;}
    50% {fill-opacity:0;}
    60%  {stroke-dashoffset:0;}
    100%{stroke-dashoffset:0;fill-opacity:100%;}
}

.fade-in {
    opacity: 0;
    animation: fadeIn linear 3s forwards;
    -webkit-animation: fadeIn linear 3s forwards;
    -moz-animation: fadeIn linear 3s forwards;
    -o-animation: fadeIn linear 3s forwards;
}

@keyframes fadeIn {
    0% {opacity:0;}
    50% {opacity: 0;}
    100% {opacity:1;}
}
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    50% {opacity: 0;}
    100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    50% {opacity: 0;}
    100% {opacity:1;}
}
@-o-keyframes fadeIn {
    0% {opacity:0;}
    50% {opacity: 0;}
    100% {opacity:1;}
}

.revealText {
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
    visibility: visible;
    animation-fill-mode: forwards;
}

@keyframes reveal {
    0% {
        transform: translate(0,100%);
        opacity: 0;
    }
    100% {
        transform: translate(0,0);
        opacity: 100;
    }
}

.animate-reveal {
    overflow: hidden;
    line-height: 1;
}


/*.animate-reveal {*/
/*    overflow: hidden;*/
/*    line-height: 1;*/
/*}*/
/*h1 span {*/
/*    opacity: 0;*/
/*    display: block;*/
/*}*/
/*@keyframes reveal {*/
/*    0% {*/
/*        transform: translate(0,100%);*/
/*        opacity: 0;*/
/*    }*/
/*    100% {*/
/*        transform: translate(0,0);*/
/*        opacity: 100;*/
/*    }*/
/*}*/

