
.bottom_up {
    background-image: linear-gradient(to top, #ffffff 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: top;
    transition: background-position 0.5s ease-in-out; /** I've changed the time for demo purposes **/
    color: #ffffff;
}

.bottom_up:hover {
    background-position: bottom;
}


.logo-fill path{
    fill: #ffffff;
    fill-opacity:0;
    animation:DASH3 4s ease-in-out 1s forwards;
}

@keyframes DASH3{
    0%  {stroke-dashoffset:2500;}
    50% {fill-opacity:0;}
    60%  {stroke-dashoffset:0;}
    100%{stroke-dashoffset:0;fill-opacity:100%;}
}

.fade-in {
    opacity: 0;
    animation: fadeIn linear 3s forwards;
    -webkit-animation: fadeIn linear 3s forwards;
    -moz-animation: fadeIn linear 3s forwards;
    -o-animation: fadeIn linear 3s forwards;
}

@keyframes fadeIn {
    0% {opacity:0;}
    50% {opacity: 0;}
    100% {opacity:1;}
}
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    50% {opacity: 0;}
    100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    50% {opacity: 0;}
    100% {opacity:1;}
}
@-o-keyframes fadeIn {
    0% {opacity:0;}
    50% {opacity: 0;}
    100% {opacity:1;}
}

.revealText {
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
    visibility: visible;
    animation-fill-mode: forwards;
}

@keyframes reveal {
    0% {
        transform: translate(0,100%);
        opacity: 0;
    }
    100% {
        transform: translate(0,0);
        opacity: 100;
    }
}

.animate-reveal {
    overflow: hidden;
    line-height: 1;
}

.marquee__part {
    flex-shrink: 0;
    padding: 0 4px;
}

.marquee {
    padding: 32px 0;

    position: relative;
    overflow: hidden;
}

.marquee__inner {
    -webkit-font-smoothing: antialiased;
    width: fit-content;
    display: flex;
    flex: auto;
    flex-direction: row;
}



/*.animate-reveal {*/
/*    overflow: hidden;*/
/*    line-height: 1;*/
/*}*/
/*h1 span {*/
/*    opacity: 0;*/
/*    display: block;*/
/*}*/
/*@keyframes reveal {*/
/*    0% {*/
/*        transform: translate(0,100%);*/
/*        opacity: 0;*/
/*    }*/
/*    100% {*/
/*        transform: translate(0,0);*/
/*        opacity: 100;*/
/*    }*/
/*}*/


/*From tympanus*/

.hover-this {
    transition: all 0.3s ease;
}

.hovered-text {
    display: inline-block;
    pointer-events: none;
    transition: transform 1s linear;
}

.cursor {
    pointer-events: none;
    position: fixed;
    padding: 0.3rem;
    background-color: #fff;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: transform 0.3s ease;
}

.hover-this:hover ~ .cursor {
    transform: translate(-50%, -50%) scale(4);
}


.project-btn {
    position: relative;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: #ffffff;
    background: transparent;
    overflow: hidden;
}

.project-btn:focus,
.project-btn--hover {
    outline: none;
    color: #000000;
}

.project-btn--filler {
    background: #ffffff;
    position: absolute;
    width: 150%;
    height: 200%;
    border-radius: 50%;
    top: -50%;
    left: -25%;
    transform: translate3d(0,75%,0);
}

.project-text--inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
