@tailwind base;
@tailwind components;
@tailwind utilities;


.title {
    @apply font-black text-7xl sm:text-8xl md:text-9xl
}


.repo_hover {
    @apply select-none transition group-hover:text-primary duration-75
}

.content-padding {
    @apply px-8 py-2
}


.profile {

}


.hover-reveal {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.hover-reveal__inner {
    overflow: hidden;
}

.hover-reveal__inner,
.hover-reveal__img {
    width: 100%;
    height: 100%;
    position: relative;
}

.hover-reveal__img {
    background-size: cover;
    background-position: 50% 50%;
}
