
.bottom_up {
    background-image: linear-gradient(to top, #ffffff 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: top;
    transition: background-position 0.5s ease-in-out; /** I've changed the time for demo purposes **/
    color: #ffffff;
}

.bottom_up:hover {
    background-position: bottom;
}


.logo-fill path{
    fill: #ffffff;
    fill-opacity:0;
    animation:DASH3 4s ease-in-out 1s forwards;
}

@keyframes DASH3{
    0%  {stroke-dashoffset:2500;}
    50% {fill-opacity:0;}
    60%  {stroke-dashoffset:0;}
    100%{stroke-dashoffset:0;fill-opacity:100%;}
}

