html,
body {
    height: 100%;
}

body {
    overscroll-behavior-y: none;
}

h2 {
    text-align: center;
    font-size: 8rem;
    margin: 40px auto;
}

.App {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;

}


.img-container {
    width: 700px;
    height: 420px;
    overflow: hidden;
    position: relative;
    margin: 400px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    position: absolute;
}




::-webkit-scrollbar {
                          width: 4px;
                          height: 4px;
                      }
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 28px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
    background: #000000;
}
::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
    background: #666666;
}
::-webkit-scrollbar-track:active {
    background: #333333;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
