@import url("https://rsms.me/inter/inter.css");
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Rakkas";
    src: url(./fonts/Rakkas-Regular.ttf);
}
@font-face {
    font-family: "Recoleta";
    font-weight: 300;
    src: url(./fonts/Recoleta-RegularDEMO.otf);
}
@font-face {
    font-family: "Rozha";
    font-weight: 500;
    src: url(./fonts/RozhaOne-Regular.ttf);
}
@font-face {
    font-family: "Work-Sans";
    font-weight: 700;
    src: url(./fonts/WorkSans-Bold.ttf);
}
@font-face {
    font-family: "Work-Sans";
    font-weight: 500;
    src: url(./fonts/WorkSans-Medium.ttf);
}
@font-face {
    font-family: "Work-Sans";
    font-weight: 800;
    src: url(./fonts/WorkSans-ExtraBold.ttf);
}
@font-face {
    font-family: "Work-Sans";
    font-weight: 300;
    src: url(./fonts/WorkSans-ExtraLight.ttf);
}
@font-face {
    font-family: "Work-Sans";
    font-weight: 400;
    src: url(./fonts/WorkSans-Light.ttf);
}




html,
body {
    height: 100%;
}

body {
    overscroll-behavior-y: none;
}

h2 {
    text-align: center;
    font-size: 8rem;
    margin: 40px auto;
}

.App {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;

}


.img-container {
    width: 700px;
    height: 420px;
    overflow: hidden;
    position: relative;
    margin: 400px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    position: absolute;
}


.marquee__part {
    flex-shrink: 0;
    padding: 0 4px;
}

.marquee {
    padding: 32px 0;

    position: relative;
    overflow: hidden;
}

.marquee__inner {
    -webkit-font-smoothing: antialiased;
    width: fit-content;
    display: flex;
    flex: auto;
    flex-direction: row;
}


.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
}

.card {
    display: inline-block;
}

::-webkit-scrollbar {
                          width: 4px;
                          height: 4px;
                      }
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 28px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
    background: #000000;
}
::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
    background: #666666;
}
::-webkit-scrollbar-track:active {
    background: #333333;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

